{#
/**
 * @file
 * Default theme implementation to display an rss feed.
 *
 * Available variables:
 * - title: The channel title.
 * - items: List of all the field items. Each item contains:
 *   - title: The title of the item.
 *   - description: The item synopsis.
 *   - link: The URL of the item.
 *
 * @ingroup themeable
 */
#}
<div class="rss-embed-field-feed">
    {% if title %}
        <strong class="rss-embed-field-feed-title">{{ title }}</strong>
    {% endif %}
    <div class="rss-embed-field-feed-items">
        {% for item in items %}
            <div class="rss-embed-field-feed-item">
                <a target="_blank" href="{{ item.link }}" class="rss-embed-field-feed-item-title">{{ item.title }}</a>
            </div>
        {% endfor %}
    </div>
</div>
